$color: #2F3440

@font-face
  font-family: "Ubuntu"
  font-style: normal
  font-weight: 400
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url("../font/Ubuntu-R.ttf") format("truetype")

body
  font-family: "Ubuntu"
  background-color: #EDEDED

.container
  background-color: white
  box-shadow: 0 0 5px 0 rgba(47, 52, 64, 0.2)
  margin-top: 50px
  margin-bottom: 50px
  padding-top: 30px
  padding-bottom: 30px

footer, nav
  background-color: $color
  color: white
  a
    color: white !important
    text-decoration: underline !important
    &:hover
      color: white !important

.badge-light
  background-color: #EDEDED

.index
  @media (max-width: 991px)
    div
      text-align: center
    img
      width: 50px !important
      height: 50px !important
  .badge
    font-size: 16px
  p
    font-size: 20px

.resume
  h2
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    color: $color
    &::before
      content: ' //'
      margin-right: 5px
  .badge
    &::before
      content: '# '

  .header-img
    height: 50px
    img
      border: solid 2px #EDEDED
      position: relative
      height: 150px
      width: 150px
      bottom: 110px

  .header
    margin-bottom: 30px
    hr
      margin: 0 0 2px 0
      border-color: #EDEDED

  .experience
    .row
      margin-bottom: 8px
    .date
      font-size: 17px
    .place
      font-size: 15px
    .title
      font-size: 17px
    .description
      font-size: 15px
    .badge
      font-size: 13px

  .contact
    margin-bottom: 20px
    .row
      margin-top: 10px
    i
      color: #d4d4d4
      padding: 5px 0 5px 20px
      font-size: 25px
    h3
      font-size: 16px
      margin-bottom: 0
    a
      font-size: 14px

  .languages
    margin-bottom: 20px
    .stars
      color: $color
    hr
      margin: 3px 0 3px 0
      border-color: #EDEDED

  .others
    .badge
      font-size: 15px