<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-lg">
        <a class="navbar-brand" href="{{.Site.BaseUrl}}/">Jiří Ferkl</a>
        <div class="order-md-1 order-last collapse navbar-collapse" id="menu">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class='nav-link' href="{{.Site.BaseUrl}}/resume">Resume</a>
                </li>
                <li class="d-md-none">
                    <hr>
                </li>
                <li class="offset-md-8 offset-lg-9 offset-xl-10">
                    <ul class="d-flex justify-content-around list-unstyled">
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/jiriferkl/" title="LinkedIn">
                                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://twitter.com/FerklJiri" title="Twitter">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://github.com/jiriferkl" title="Github">
                                <i class="fab fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://www.instagram.com/jiriferkl/" title="Instagram">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://www.facebook.com/jiri.ferkl" title="Facebook">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="order-2 navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
