@import "~bootstrap/scss/bootstrap";

.logo {
  height: 7vh;
}

.navbar-icon-links {
  width: 50%;

  a {
    color: $gray-500;

    &:hover {
      color: $gray-600;
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar-icon-links {
    width: 20%;
  }
}

.hello {
  height: 50vh;
}

@media screen and (min-device-height: 675px) {
  .hello-lead {
    margin-top: 20px;
  }
}

@media screen and (min-device-height: 700px) {
  .hello-lead {
    margin-top: 30px;
  }
}

footer {
  p {
    color: $gray-500;
    a {
      color: $gray-700;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
  }
}
