{{ $json := getJSON (.Get 0) }}
<div class="row">
    <div class="col">
        <h3 class="display-6 resume-section-title border-bottom border-light pb-1">{{ $json.title }}</h3>
        {{ range $json.data }}
            <div class="card border-0 mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ if isset . "url" }}
                            <a target="_blank" href="{{ .url }}">{{ .title }}</a>
                        {{ else }}
                            {{ .title }}
                        {{ end }}
                    </h5>
                    <div class="card-subtitle text-muted d-flex flex-column">
                        <div class="w-50"><i class="fas fa-calendar-day"></i> {{ .years }}</div>
                        {{ if isset . "place" }}
                            <div class="w-50"><i class="fas fa-map-marker-alt"></i> {{ .place }}</div>
                        {{ end }}
                    </div>
                    {{ range .badge }}
                        <span class="badge bg-dark bg-opacity-75">{{ . }}</span>
                    {{ end }}
                    {{ range .description }}
                        <p class="card-text">{{ . | safeHTML }}</p>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
</div>
